<p><hr></p>
<h1 id="review-section-title">What People Are Saying</h1>
<div class="review-section">
    <ul>
        <div id="visitor-reviews">
            <li>
                <h2 id="visitor-review-title"><%=locals.title%></h2>
                <h3 id="visitor-review-body"><%=locals.reviews%></h3>
            </li>
        </div>
    </ul>
</div>