<p><hr></p>
<h1 id="comment-title">What People Are Saying</h1>
<div class="comment-section">
    <ul>
        <div id="comments">
            <li>
                <h2><%=locals.title%></h2>
                <h3><%=locals.reviews%></h3>
            </li>
        </div>
    </ul>
</div>