<footer>
    <%-include("dna.ejs")%>
    <div id="copyright">
        Copyright © Justin Beides <%=new Date().getFullYear();%>
    </div>
    <div class="nav-link">
        <a href="/">Home</a>
    </div>
    <div class="nav-link">
        <a href="/reviews">Movie Reviews</a>
    </div>
    <div class="nav-link">
        <a href="/portfolio">Portfolio</a>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/js/home.js"></script>
<script src="/js/reviews.js"></script>
<script src="/js/in_reviews.js"></script>
</body>
</html>