<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link rel="stylesheet" href="/styles/styles.css"/>
    <link rel="stylesheet" href="/styles/header_footer.css"/>
    <link rel="stylesheet" href="/styles/dna_animation.css"/>
    <link rel="stylesheet" href="/styles/reviews.css"/>
</head>
<body>
    <header>
        <%-include("dna.ejs")%>
        <div id="blog-title">
            Core Media Reviews 
        </div>
        <div class="nav-link">
            <a href="/">Home</a>
        </div>
        <div class="nav-link">
            <a href="/reviews">Movie Reviews</a>
        </div>
        <div class="nav-link">
            <a href="/portfolio">Portfolio</a>
        </div>
    </header>
    
