<%-include("header.ejs")%>
<movie-reviews>
        <div class="review-grids" id="grid-1">
            <p class="movie-title">Friday the 13th Part IV: The Final Chapter</p>
            <img id="jason" class="review-img" src="assets/images/jason.jpg" alt="Hockey mask lying in the grass"/>
            <p class="photo-cred">Photo by <a href="https://unsplash.com/@justinhikestn?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Justin Campbell</a> 
                on <a href="https://unsplash.com/photos/white-and-black-polka-dot-egg-ornament-ZAYyDJ9hjmE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
            </p>
        </div>
         
        <div class="review-grids" id="grid-2">
            <p class="movie-title">Batman Forever</p>
            <img id="batman" class="review-img" src="assets/images/bat_symbol.jpg" alt="batman"/>
            <p class="photo-cred">Photo by <a href="https://unsplash.com/@obionyeador?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Obi - @pixel8propix</a> 
                on <a href="https://unsplash.com/photos/gold-and-silver-round-plate-CX_S757PlJ4?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
            </p>
        </div>

        <div class="review-grids" id="grid-3">
            <p class="movie-title">Star Wars Episode III: Revenge of the Sith</p>
            <img id="rots" class="review-img" src="assets/images/rots.jpg" alt="batman"/>
            <p class="photo-cred"> Photo by <a href="https://unsplash.com/@danielkcheung?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Daniel K Cheung</a> 
                on <a href="https://unsplash.com/photos/lego-star-wars-toy-i5Lmb7qPR7s?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
            </p>
        </div>
        
        <div>
            
        </div>
</movie-reviews>
<%-include("footer.ejs")%>
