<p><hr></p>
<form id="review-submission-form"action="/submit" method="POST">
    <h1 id="review-post-title">Post your reivew below!</h1>
    <label for="postTitle">Movie Review Title</label>
    <input type="text" id="viewer_post_title" name="postTitle" placeholder="Enter Movie title/Review Title Here" required>
    <label for="reviewerPost">Movie Review</label>
    <textarea type="text" spellcheck="true" id="viewer_review" name="reviewerPost" placeholder="What're your thoughts?" required></textarea> 
    <input id="post_button"type="submit" value="Submit Review">
  </form>