<%-include("header.ejs")%>

<review-submission>

  <img class="in_review_img" src="/assets/images/typing.jpg" alt="Typing on a laptop"/>
  <p class="photo-credit">Photo by <a href="https://unsplash.com/@christinhumephoto?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Christin Hume</a> 
    on <a href="https://unsplash.com/photos/person-using-laptop-computer-Hcfwew744z4?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  </p>  

  <%-include("review_submission_form.ejs")%>
</review-submission>

<%-include("footer.ejs")%>