<%-include("../header.ejs")%>

<mov-review>
    <h1>Batman Forever</h1>
    <img class="in_review_img" src="/assets/images/lego_batman.jpg" alt="Lego Batman on a building"/> 
    <p class="photo-credit">Photo by <a href="https://unsplash.com/@_alikokab_?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Ali Kokab</a> 
        on <a href="https://unsplash.com/photos/silhouette-of-bird-on-top-of-brown-wooden-shelf-Yv2HzOr8jAA?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
    </p>
    <div class="text-block">
        <p>Batman Forever is a goofy and zany take on the grittier and darker version given to us by Tim Burton. 
            Unlike the sequel that follows it, this movie did a good job of embracing the camp of the 1960s version
            of batman, while also keeping to what was a modern take in the 1990s. There are many important factors that help to make this the case.
        </p>
        <p>
            My anger outweights my guilt. Swear to me!
        </p>
        <p>
            I'll be standing where l belong. Between you and the peopIe of Gotham. 
            Someone like you. Someone who'll rattle the cages. I seek the means to fight injustice. 
            To turn fear against those who prey on the fearful.
        </p>
        <p>
            Well, you see... I'm buying this hotel and setting some new rules about the pool area. 
            I'll be standing where l belong. Between you and the peopIe of Gotham.
        </p>
        <p>
            It's not who I am underneath, but what I do that defines me. It's ends here.
        </p>
        <p>
            I'm Batman. The first time I stole so that I wouldn't starve, yes. I lost many assumptions about the simple nature of right and wrong. 
            And when I traveled I learned the fear before a crime and the thrill of success. But I never became one of them.
        </p>
        <p>
            What's your thoughts? What's your favorite rendition of the caped crusader?
        </p>
        <p>Let us know below!</p>           
         <!--TODO: Create form to submit and create comments-->
    </div>

    <%-include("../review_submission_form.ejs")%>
</mov-review>


<%-include("../footer.ejs")%>