<%-include("../header.ejs")%>

<mov-review>
    <h1>Friday the 13th Part IV: The Final Chapter</h1>
    <img class="in_review_img" src="/assets/images/lego_jason.jpg" alt="Lego Jason Voorhees"/> 
    <div class="text-block">
        <p>
            Friday the 13th Part IV is a horror movie classic no doubt! There is so much to unpack from the 
            complex characters and deep story it aims to portray! Lets start with an overview: 
        </p>
        <p>
            Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. 
            De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. 
            Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. 
            Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. 
            Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.
        </p>
        <p>
            Cum horribilem walking dead resurgere de crazed sepulcris creaturis, zombie sicut de grave feeding iride et serpens. 
            Pestilentia, shaun ofthe dead scythe animated corpses ipsa screams. Pestilentia est plague haec decaying ambulabat mortuos. 
            Sicut zeder apathetic malus voodoo. Aenean a dolor plan et terror soulless vulnerum contagium accedunt, mortui iam vivam unlife. 
            Qui tardius moveri, brid eof reanimator sed in magna copia sint terribiles undeath legionis. Alii missing oculis aliorum sicut serpere crabs nostram. 
            Putridi braindead odores kill and infect, aere implent left four dead.
        </p>
        <p>
            Let everyone know your thoughts about your experience watching Friday the 13th below!
            <!--TODO: Create form to submit and create comments-->
        </p>
    </div>
</mov-review>





<%-include("../footer.ejs")%>