<%-include("../header.ejs")%>
<mov-review>
    <h1>Goldeneye</h1>
    <img class="in_review_img" src="/assets/images/lego_bond.jpg" alt="Lego James Bond in a camera lens"/> 
    <p class="photo-credit">Photo by <a href="https://unsplash.com/@wwarby?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">William Warby</a> 
        on <a href="https://unsplash.com/photos/a-camera-lens-with-a-lego-man-on-it-OYoGePUjj-E?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
    </p>
    <div class="text-block">
        <p>
            Goldeneye brought James Bond to the modern age in the 1990s, while also retaining the original formula
            that made a classic James Bond Film. This would be the peak of the classic formula however, where Pierce Brosnan
            does an amazing job portraying bond, the quality of the films declines after this one until Casino Royale in 2006. That's for another 
            discussion (let us know your thoughts below 😉) What factors about Goldeneye make it a staple in the franchise and made it work so well? 
        </p>
        <p>
            Church-key laboris small batch photo booth, marfa Brooklyn plaid twee eiusmod cred. 
            Officia shoreditch you probably haven't heard of them sunt tbh. 
            Listicle quinoa banh mi JOMO unicorn put a bird on it adaptogen. 
            Ut aute tote bag lyft post-ironic. Small batch wayfarers literally, meditation marxism pinterest subway tile twee franzen in. 
            Retro chillwave roof party 90's, irony squid stumptown vinyl lomo bruh chia et heirloom cupidatat farm-to-table. 90's swag stumptown thundercats, deserunt do commodo.
        </p>
        <p>
            Direct trade officia enamel pin meditation shoreditch. 
            Fingerstache fam adipisicing readymade reprehenderit meh. 
            Narwhal nostrud ut four dollar toast PBR&B kale chips cold-pressed fugiat before they sold out. Nisi fashion axe artisan nulla yr fit truffaut jawn next level deep v poutine. 
            Ugh sunt heirloom typewriter est celiac. Shaman disrupt polaroid, tousled pop-up beard retro roof party VHS DIY pinterest trust fund.
        </p>
        <p>
            Literally gentrify eiusmod vegan squid, austin sunt sint proident excepteur eu franzen keytar edison bulb. 
            In non reprehenderit small batch umami, 90's plaid keffiyeh thundercats cred lomo irure commodo. 
            Lo-fi fingerstache aesthetic, dolor kinfolk raw denim shoreditch pour-over. Tacos artisan XOXO exercitation semiotics lyft godard.
        </p>
        
        <p>
            Who's your favorite Bond? What's your top movie?
        </p>
        <p>Let us know your thoughts below!</p>           
         <!--TODO: Create form to submit and create comments-->
    </div>
    <%-include("../review_submission_form.ejs")%>
</mov-review>



<%-include("../footer.ejs")%>