<%-include("../header.ejs")%>


<mov-review>
<h1>Star Wars Episode III: Revenge of the Sith</h1>
    <img class="in_review_img" src="/assets/images/lego_stormtrooper.jpg" alt="Lego stormtrooper walking in the desert"/> 
    <p class="photo-credit">Photo by <a href="https://unsplash.com/@danielkcheung?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Daniel K Cheung</a> 
        on <a href="https://unsplash.com/photos/stormtrooper-minifigure-walking-on-the-sand-cPF2nlWcMY4?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
    </p>
    <div class="text-block">
        <p>Many have mixed feelings as to the final chapter in the Star Wars prequel trilogy. 
           All opinions are subjective and therefore valid. With that said, here is our take on the finale.
        </p>
        <p>
            Lock on to him, R2. Master, General Grievous's ship is directly ahead Master, General Grievous's ship is directly ahead the one crawling with vulture droids. 
            I see it. Oh, this is going to be easy.
        </p>
        <p>
            What is it? Nothing. Don't do this. Don't shut me out. Let me help you. Hold me.
        </p>
        <p>
            Did you? There's more than one way out of here. We don't want to get out. We want to get moving. R2, activate elevator 31174. Come in, R2. What that? R2, do you copy? 
            R2, activate the elevator number 31174. Get back to work.
        </p>
        <p>
            Charge! Head for cover! You're gonna need me on this one. 
            I agree. However, it may turn out Just to be a wild bantha chase. Master.
        </p>
        <p>
            Watch out. R2, hit the buzz droid's center eye. Yeah, you got him! Great, R2. 
            The general's command ship is dead ahead. Have you noticed the shields are still up? Sorry, Master.
        </p>
        <p>
            I must know the truth, Master. It can't be. It can't be. You have done well, my new apprentice. 
            Now, Lord Vader, go and bring peace to the Empire. I can't watch anymore. Destroy the Sith we must.
        </p>
        <p>
            What were your thoughts on the conclusion to the prequel trilogy? Tell the world below!
            <!--TODO: Create form to submit and create comments-->
        </p>
    </div>
    <%-include("../review_submission_form.ejs")%>
    <%-include("../comment_section")%>
</mov-review>



<%-include("../footer.ejs")%>