body
{
    background-color: #39A7FF;
    color: white; 
    z-index: 1;
}

#main-flex-container
{
    display: flex; 
    flex-direction: column;
}

/*Home page information */
#homepage
{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#movie_goers_img
{
    width: 400px; 
    height: 200px; 
}
#photo-credit
{
    margin: 0px; 
    padding: 0px; 
    text-align: center;
}
